{
  "language": "nodejs",
  "run": "npm start",
  "entrypoint": "index.js",
  "hidden": [".config", "package-lock.json"],
  "env": {
    "NODE_VERSION": "18"
  },
  "packager": {
    "language": "nodejs",
    "manager": "npm"
  },
  "languages": {
    "nodejs": {
      "runner": "npm start"
    }
  }
}
